<div class="inner-content">
  <div id="tag_stmt">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question. </div>
  <div id="header_tag">
    <h3><%= @tag_head %></h3>
  </div>
  <div id="tag_new_form">
    <%= render 'form' %>
  </div>

</div>