<script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/assets/controls/wysiwyg.image.js"></script>
<script type="text/javascript" src="/assets/controls/wysiwyg.table.js"></script>
<script type="text/javascript" src="/assets/controls/wysiwyg.link.js"></script>
<script type="text/javascript">
$(function() {
    $('#wysiwyg').wysiwyg();
});

</script>
<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
