<div class="inner-content">
  <h2> Recent Posts</h2>
  <% if not compare_for_nil(@count) %>
    <% @posts.each do |post| %>
      <div id="post_title">
        <%= post.title %>
      </div>
      <div id="post_title">
        <%= post.description %>
      </div>
    <% end %>
  <% else %>
  <div class="notice">
    <h3>No Recents Post Found.</h3>
  </div>
  <% end %>
</div>
<div class="inner-content-right">
  <h2> Recent Posts</h2>
 
</div>