<nav id="main_menu">
  <ul>
    
    <li  id="posts" class="menu_item">
      <%= link_to "Posts", root_url %>
    </li>
    <li id="sign-in" class="menu_item">
      <% if not current_user %>
        <%= link_to "Sign In", user_session_path %>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path %>
      <% end %>
    </li>
  </ul>
</nav>